{% extends 'base.html' %}
{% from 'macros/macros.html' import photo_card with context %}
{% from 'bootstrap/pagination.html' import render_pagination with context %}
{% block title %}相册首页{% endblock %}
{% block main %}
<div class = "container-fluid">
    <div class="row">
        <div class = "col-6 offset-3">
            {% if get_flashed_messages() %}
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                  {% for message in get_flashed_messages() %}
                    <small>{{ message }}</small>
                  {% endfor %}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
            {% endif %}
        </div>
    </div>
    {% if photos %}
        {{ render_pagination(pagination,align='right') }}
        <div class="row">
            {% for photo in photos %}
                <div class="col-md-3">
                    {{ photo_card(photo, 'home') }}
                </div>
            {% endfor %}
        </div>
        {{ render_pagination(pagination,align='right') }}
    {% else %}
        <div class="row">
            <div class="col-md-12 text-center">
                  仍未上传任何图片!!!
            </div>
        </div>
    {% endif %}
</div>
{%endblock%}