{% extends 'base.html' %}
{% block title %}{{ photo.file_name }}{% endblock %}
{% block main %}
<div class = "container-fluid">
    {% include 'user/_header.html' %}<br>
    <div class="row">
        <div class = "col-6 offset-3">
            {% if get_flashed_messages() %}
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                  {% for message in get_flashed_messages() %}
                    <small>{{ message }}</small>
                  {% endfor %}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class = "col-md-2 text-center">
            <a href="{{ url_for('main.switch_photo', from_path=from_path, photo_id=photo.id, sign='previous',nav_id=nav_id) }}" class="btn btn-outline-secondary {%if sign=='first'%}disabled{%endif%}"><i class="fas fa-chevron-left"></i></a>
        </div>
        <div class = "col-md-8 text-center">
            <img src="{{ url_for('main.get_photo', filename=photo.file_name) }}" class="img-fluid">
            <!-- 显示标签 -->
            {% if tags %}
                <div class="row text-right" style="margin:20px 0 20px 0;padding:0px;">
                    <span class="text-success"><i class="fas fa-tags"></i>&nbsp;:&nbsp;</span>
                    {% for tag in tags %}
                        <span class="text-success">
                            {% if from_path == 'personal' %}
                                <form method="post" action="{{ url_for('main.del_tag', photo_id=photo.id, tag_id=tag.id) }}" class="float-right">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                    <input type="hidden" name="photo_id" value="{{ photo.id }}"/>
                                    <input type="hidden" name="tag_id" value="{{ tag.id }}"/>
                                    {{tag.name}}<button type="submit" class="btn btn-link text-secondary btn-sm"><i class="fas fa-times-circle"></i></button>
                                </form>
                            {% else %}
                                {{tag.name}}
                            {% endif %}
                        </span>
                    {% endfor %}
                </div>
            {% endif %}
            <!-- 删除表单 -->
            <form id = 'delform' action="{{ url_for('user.delete', photo_id=photo.id) }}" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            </form>
            {% if from_path == 'personal' %}
            <!-- 描述表单 -->
            <form method="post" id = "descform">
                {{desc_form.csrf_token }}
                <div class="form-row text-left">
                  <div class="form-group col-md-12">
                      {{desc_form.description.label}}
                      {{desc_form.description(class='form-control', rows=3)}}
                      {% for message in desc_form.description.errors %}
                            <small class="text-danger">
                                {{ message }}
                            </small>
                      {% endfor %}
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    {{desc_form.submit(class='btn btn-outline-info btn-block')}}
                  </div>
                </div>
            </form>
            {% endif %}
            {% if from_path == 'home' %}
            <!-- 评论表单 -->
            {% if comments %}
                <hr>
                <div class="row text-left">
                    <div class="col-md-12">
                        <ul class="list-group">
                        {% for comment in comments %}
                            <li class="list-group-item">
                                <small>{{ moment(comment.timestamp).format('LL')}}&nbsp;&nbsp;:&nbsp;&nbsp;</small><br>
                                {{ comment.content }}
                                <small class="float-right">{{ moment(comment.timestamp).fromNow(refresh=True)}}</small>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif%}
            <form method="post" id = "commentform">
                {{comm_form.csrf_token }}
                <div class="form-row text-left">
                  <div class="form-group col-md-12">
                      {{comm_form.content.label}}
                      {{comm_form.content(class='form-control', rows=3)}}
                      {% for message in comm_form.content.errors %}
                            <small class="text-danger">
                                {{ message }}
                            </small>
                      {% endfor %}
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    {{comm_form.submit(class='btn btn-outline-info btn-block')}}
                  </div>
                </div>
            </form>
            {% endif %}
        </div>
         <div class = "col-md-2 text-center">
             <a href="{{ url_for('main.switch_photo', from_path=from_path, photo_id=photo.id, sign='next',nav_id=nav_id) }}" class="btn btn-outline-secondary {%if sign=='last'%}disabled{%endif%}"><i class="fas fa-chevron-right"></i></a>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="tagFormModal" tabindex="-1" aria-labelledby="tagFormModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="tagFormModalLabel">照片标签</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="post" id = "tagform">
                {{tag_form.csrf_token }}
                <div class="form-row text-left">
                  <div class="form-group col-md-12">
                      {{tag_form.tag.label}}
                      {{tag_form.tag(class='form-control')}}
                      {% for message in tag_form.tag.errors %}
                            <small class="text-danger">
                                {{ message }}
                            </small>
                      {% endfor %}
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    {{tag_form.submit(class='btn btn-outline-info btn-block')}}
                  </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
{%endblock%}
{% block function %}
    function delete_photo(){
        $.confirm({
            title: '提示!',
            content: '确定要删除？',
            boxWidth: '25%',
            useBootstrap: false,
            type: 'red',
            typeAnimated: true,
            buttons: {
                cancel:{
                    text:"取消"
                },
                confirm:{
                    text:"确定",
                    action:function () {
                        $('#delform').submit()
                    }
                }
            }
        });
    }
    function edit_tag(){
        $("#tagFormModal").modal('show')
    }
{% endblock %}