{% extends 'base.html' %}
{% block title %}相册上传{% endblock %}
{% block links %}
    {{static_file('css','css/dropzone.min.css')}}
{% endblock %}
{% block scripts %}
    {{static_file('js','js/dropzone.min.js')}}
    {{dropzone.config()}}
{% endblock %}
{% block styles %}
    {{ dropzone.style('margin:20px 0; border:2px dashed #0087f7; min-height:380px;')}}
{% endblock %}
{% block main %}
<div class = "container-fluid">
    <div class="row">
        <div class = "col-md-12 text-primary">
            <h4>上传</h4>
        </div>
    </div>
    <div class="row">
        <div class = "col-md-12">
            {{dropzone.create(action='main.upload')}}
            <a class="btn btn-light float-right" href="#">Done</a>
        </div>
    </div>
</div>
{%endblock%}