<!-- 宏加载静态资源文件 -->
{% macro static_file(type, file_or_url, local=True) %}
    {% if local %}
        {% set file_or_url = url_for('static', filename = file_or_url) %}
    {% endif %}
    {% if type == 'css' %}
        <link rel = "stylesheet" type = "text/css" href = "{{file_or_url}}">
    {% endif %}
    {% if type == 'icon' %}
        <link rel = "icon" type = "image/x-icon" href = "{{file_or_url}}">
    {% endif %}
    {% if type == 'js' %}
        <script type = "text/javascript" src = "{{file_or_url}}"></script>
    {% endif %}
{% endmacro %}
<!-- 图片显示:photo:图片信息;from_path:点击路径(主页点击还是个人中心点击) -->
{% macro photo_card(photo, from_path, nav_id) %}
    <div class="card">
      <a href="{{ url_for('main.show_photo', from_path=from_path, photo_id=photo.id,nav_id=nav_id) }}"><img src="{{ url_for('main.get_photo', filename=photo.file_name_s) }}" class="card-img-top portrait"></a>
      <div class="card-body">
        {% if from_path == 'home' %}
          <a href = "{{ url_for('main.star_photo', photo_id=photo.id, next=request.full_path) }}" class="btn btn-link btn-sm text-info"><small>点赞&nbsp;<i class="fas fa-star"></i>&nbsp;{%if photo.star == None %}0{%else%}{{photo.star}}{%endif%}&nbsp;&nbsp;</small></a>
        {% else %}
          <a href = "#" class="btn btn-link btn-sm text-info disabled"><small>点赞&nbsp;<i class="fas fa-star"></i>&nbsp;{%if photo.star == None %}0{%else%}{{photo.star}}{%endif%}&nbsp;&nbsp;</small></a>
        {% endif %}
          <a href = "#" class="btn btn-link btn-sm text-info disabled"><small>评论&nbsp;<i class="fas fa-comment"></i>&nbsp;{{photo.comments|length}}&nbsp;&nbsp;</small></a>
        {% if from_path == 'home' %}
          <a href = "{{ url_for('user.collect', photo_id=photo.id, next=request.full_path) }}" class="btn btn-link btn-sm text-info"><small>收藏&nbsp;<i class="fas fa-warehouse"></i>&nbsp;{% if photo.collectors == None %}0{% else %}{{photo.collectors|length}}{% endif %}&nbsp;&nbsp;</small></a>
        {% endif %}
        {% if nav_id == 'collects' %}
          <a href = "{{ url_for('user.uncollect', photo_id=photo.id, next=request.full_path) }}" class="btn btn-link btn-sm text-secondary"><small>取消收藏&nbsp;<i class="fas fa-house-damage"></i>&nbsp;</small></a>
        {% endif %}
        {% if from_path == 'home' %}
          <a href = "{{ url_for('main.report_photo', photo_id=photo.id, next=request.full_path) }}" class="btn btn-link btn-sm text-danger"><small>举报&nbsp;<i class="fas fa-hand-pointer"></i>&nbsp;{% if photo.flag == None %}0{% else %}{{photo.flag}}{% endif %}&nbsp;&nbsp;</small></a>
        {% endif %}
      </div>
    </div>
{% endmacro %}