<!-- 宏加载静态资源文件 -->
{% macro static_file(type, file_or_url, local=True) %}
    {% if local %}
        {% set file_or_url = url_for('static', filename = file_or_url) %}
    {% endif %}
    {% if type == 'css' %}
        <link rel = "stylesheet" type = "text/css" href = "{{file_or_url}}">
    {% endif %}
    {% if type == 'icon' %}
        <link rel = "icon" type = "image/x-icon" href = "{{file_or_url}}">
    {% endif %}
    {% if type == 'js' %}
        <script type = "text/javascript" src = "{{file_or_url}}"></script>
    {% endif %}
{% endmacro %}
<!-- 图片显示 -->
{% macro photo_card(photo) %}
    <div class="card">
      <a href="{{ url_for('main.show_photo', photo_id=photo.id) }}"><img src="{{ url_for('main.get_photo', filename=photo.file_name_s) }}" class="card-img-top portrait"></a>
      <div class="card-body">
        <i class="fas fa-star"></i>&nbsp;15&nbsp;&nbsp;
        <i class="fas fa-comment"></i>&nbsp;10
      </div>
    </div>
{% endmacro %}