{% extends 'user/setting/base.html' %}
{% block title %}{{ user.name }}-个人信息设置{% endblock %}
{% block links %}
    {{static_file('css','css/bootstrap-datepicker3.min.css')}}
{% endblock %}
{% block scripts %}
    {{static_file('js','js/bootstrap-datepicker.min.js')}}
    {{static_file('js','js/bootstrap-datepicker.zh-CN.min.js')}}
{% endblock %}
{% block content %}
 <div class="row">
    <div class = "col">
        {% if get_flashed_messages() %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              {% for message in get_flashed_messages() %}
                <small>{{ message }}</small>
              {% endfor %}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
        {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 offset-1">
      <form method="post">
          {{form.csrf_token }}
          <div class="form-row">
            <div class="form-group col-md-6">
                <span class="text-danger">*</span>&nbsp;{{form.code.label}}
                {{form.code(class='form-control')}}
                {% for message in form.code.errors %}
                      <small class="text-danger">
                          {{ message }}
                      </small>
                {% endfor %}
            </div>
            <div class="form-group col-md-6">
                  <span class="text-danger">*</span>&nbsp;{{form.name.label}}
                  {{form.name(class='form-control')}}
                  {% for message in form.name.errors %}
                      <small class="text-danger">
                          {{ message }}
                      </small>
                  {% endfor %}
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
                  <span class="text-danger">*</span>&nbsp;{{form.email.label}}
                  {{form.email(class='form-control')}}
                  {% for message in form.email.errors %}
                      <small class="text-danger">
                          {{ message }}
                      </small>
                  {% endfor %}
            </div>
            <div class="form-group  col-md-6">
                  {{form.birthday.label}}
                  {{form.birthday(class='form-control')}}
                  {% for message in form.birthday.errors %}
                      <small class="text-danger">
                          {{ message }}
                      </small>
                  {% endfor %}
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
                  {{form.website.label}}
                  {{form.website(class='form-control')}}
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
                  {{form.location.label}}
                  {{form.location(class='form-control')}}
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-3">
              {{form.submit(class='btn btn-outline-info btn-block')}}
            </div>
          </div>
        </form>
    </div>
  </div>
{% endblock %}
<script>
    {% block ready %}
        $(function(){
            $('#birthday').datepicker({
                weekStart: 1,
                autoclose: true,
                daysOfWeekHighlighted: "0,6",
                format: "yyyy-mm-dd",
                language: "zh-CN"
            })
        })
    {% endblock %}
</script>