<div class="row">
  <div class="col-md-2">
      <img src="{{ url_for('main.get_avatar', filename=user.avatar_l) }}" class="img-fluid rounded fluid-right">
  </div>
  <div class="col-md-10">
    <h1>{{ user.code|title }}</h1><!--small class="text-muted">{{ user.name }}</small-->
    {% if user.bio %}<p class="text-secondary">{{ user.bio }}</p>{% endif %}
    <p>
      {% if user.website %}
        <i class="fas fa-link"></i>&nbsp;
        <a href="{{ user.website }}" target="_blank">{{ user.website|truncate(30) }}</a>&nbsp;&nbsp;
      {% endif %}
      {% if user.location %}
        <i class="fas fa-map-signs"></i>&nbsp;
      <span class="text-secondary">{{ user.location }}</span>&nbsp;&nbsp;
      {% endif %}
      <i class="far fa-calendar-alt"></i>&nbsp;
      <span class="text-secondary">加入时间&nbsp;&nbsp;{{ moment(user.member_since).format('LL') }}</span>&nbsp;&nbsp;
      <button class="btn btn-link btn-sm" onclick="getUserInfo('{{user.id}}')"><i class="far fa-question-circle"></i>&nbsp;个人信息</button>
      {% if current_user.is_authenticated and from_path == 'home' %}
        {% if user != current_user %}
            {% if not current_user.is_following(user) %}
            <a href="{{ url_for('user.follow', user_id=user.id, next=request.full_path)}}" class="btn btn-link text-secondary"><i class="fas fa-user-friends"></i>&nbsp;关注</a>
            {% else %}
            <a href="{{ url_for('user.unfollow', user_id=user.id, next=request.full_path)}}" class="btn btn-link text-secondary"><i class="fas fa-user-alt-slash"></i>&nbsp;取消关注</a>
            {% endif %}
        {% endif %}
      {% endif %}
    </p>
  </div>
</div><br>
<!-- 必须同时满足用户已登录同时登录用户和照片是同一个用户才能出现以下菜单,否则显示一横线 -->
{% if from_path == 'personal' %}
<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs">
      <a class="nav-link" href="{{ url_for('main.upload') }}"><i class="fas fa-upload"></i>&nbsp;上传</a>
      <a class="nav-link" href="{{ url_for('user.index', user_code=current_user.code) }}"><i class="fas fa-list"></i>&nbsp;相册&nbsp;<span class="badge badge-info">{{ current_user.photos|length }}</span></a>
      <a class="nav-link" href="{{ url_for('user.collected_list', user_code=current_user.code) }}"><i class="fas fa-warehouse"></i>&nbsp;已收藏&nbsp;<span class="badge badge-info">{{ current_user.collections|length }}</span></a>
      <a class="nav-link" href="{{ url_for('user.follow_list', user_id=current_user.id) }}"><i class="fas fa-user-friends"></i>&nbsp;已关注&nbsp;<span class="badge badge-info">{% if followings %}{{ followings|length }}{% else %}0{% endif %}</span></a>
      <!-- 个人中心相册清单进入图片详情时才显示标签和删除 -->
      {% if photo and nav_id == 'photos'%}
      <!-- 标签维护 -->
      <a class="nav-link text-success" href="javascript:edit_tag()"><i class="fas fa-tags"></i>&nbsp;标签</a>
      <!-- 图片删除 -->
      <a class="nav-link text-danger" href="javascript:delete_photo()"><i class="fas fa-trash-alt"></i>&nbsp;删除</a>
      {% endif %}
      <a class="nav-link" href="{{ url_for('personal.profile') }}"><i class="fas fa-cogs"></i>&nbsp;个人设置</a>
    </ul>
  </div>
</div>
{% else %}
  <hr>
{% endif %}