{% extends 'base.html' %}
{% from 'macros/macros.html' import photo_card with context %}
{% from 'bootstrap/pagination.html' import render_pagination with context %}
{% block title %}{{ user.name }}-主页{% endblock %}
{% block main %}
<div class = "container-fluid">
    {% include 'user/_header.html' %}<br>
    {% if photos %}
        {{ render_pagination(pagination,align='right') }}
        <div class="row">
            {% for photo in photos %}
                <div class="col-md-3">
                    {{ photo_card(photo) }}
                </div>
            {% endfor %}
        </div>
        {{ render_pagination(pagination,align='right') }}
    {% else %}
        <div class="row">
            <div class="col-md-12 text-center">
                  仍未上传任何图片!!!<a class="btn btn-link btn-sm" href="{{ url_for('main.upload') }}">去上传 &gt;&gt;&gt; </a>
            </div>
        </div>
    {% endif %}
</div>
{%endblock%}