{% extends 'base.html' %}
{% from 'macros/macros.html' import photo_card with context %}
{% from 'bootstrap/pagination.html' import render_pagination with context %}
{% block title %}{{ user.name }}-个人中心{% endblock %}
{% block main %}
<div class = "container-fluid">
    {% include 'user/_header.html' %}<br>
    {% if nav_id != 'follow' %}
        {% if photos %}
            {{ render_pagination(pagination,align='right') }}
            <div class="row">
                {% for photo in photos %}
                    <div class="col-md-3">
                        {{ photo_card(photo,'personal',nav_id) }}
                    </div>
                {% endfor %}
            </div>
            {{ render_pagination(pagination,align='right') }}
        {% else %}
            <div class="row">
                <div class="col-md-12 text-center">
                      {% if nav_id == 'photos'%}
                        仍未上传任何图片!!!<a class="btn btn-link btn-sm" href="{{ url_for('main.upload') }}">去上传 &gt;&gt;&gt; </a>
                      {% else %}
                        仍未收藏任何图片!!!
                      {% endif %}
                </div>
            </div>
        {% endif %}
    {% else %}
        {% if followings %}
            <div class="row">
                {% for follow in followings %}
                    <div class="col-md-3 text-center">
                        <img src="{{ url_for('main.get_avatar', filename=follow.avatar_l) }}" class="img-fluid rounded fluid-right"><br>
                        <small>{{ follow.name }}</small>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="row">
                <div class="col-md-12 text-center">
                      仍未关注任何人!!!
                </div>
            </div>
        {% endif %}
    {% endif %}
</div>
{%endblock%}
<script>
    {% block function%}
    function getUserInfo(user_id){
        $.ajax({
            type:'get',
            url:'/user/user/info/'+user_id,
            data:{},
            success:function(data){
                alert('Success'+data.name)
            },
            error:function(){
                alert('Error')
            }
        })
    }
    {% endblock %}
</script>